<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EDeklaracje_WebService.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <EDeklaracje_WebService.Core.Properties.Settings>
            <setting name="EDeklaracje_WebService_Core_TestBramkaWebReference2_UslugiUBD"
                serializeAs="String">
                <value>https://test-ubd.mf.gov.pl/ubd/UslugiUBD</value>
            </setting>
            <setting name="EDeklaracje_WebService_Core_BramkaWebReference_UslugiUBD"
                serializeAs="String">
                <value>https://ubd.mf.gov.pl/uslugi/dokumenty</value>
            </setting>
        </EDeklaracje_WebService.Core.Properties.Settings>
    </applicationSettings>
</configuration>